body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #080505;
    color: rgb(182, 181, 181);
    text-align: center;
    padding: 40px 0;
}

section {
    padding: 30px;
    margin: 20px;
    background-color: rgb(202, 201, 201);
    border-radius: 8px;
}

h2 {
    color: #333;
}
.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px auto;
    object-fit: cover;
    object-position: top; /* <-- shows the top part of the image */
    border: 3px solid #222;
}
